body {
    overflow-x: hidden;
}

p {
    font-size: 20px;
}

p.small {
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

hr.beer-hr,
hr.beer-primary {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
}

hr.beer-hr:after,
hr.beer-primary:after {
    content: "\f0fc";
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-family: FontAwesome;
    font-size: 2em;
}

hr.beer-hr {
    border-color: #fff;
}

hr.beer-hr:after {
    color: #fff;
    background-color: #18bc9c;
}

hr.beer-primary {
    border-color: #2c3e50;
}

hr.beer-primary:after {
    color: #2c3e50;
    background-color: #fff;
}

header {
    text-align: center;
    color: #fff;
    background: #18bc9c;
}

header .container {
    padding-top: 50px;
    padding-bottom: 50px;
}

header img {
    display: block;
    margin: 0 auto 20px;
}

header .intro-text .name {
    display: block;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 2em;
    font-weight: 700;
}

.todo-icon{
	float: left;
	padding: 5px 0px 0 0;
	font-size: 24px;
}
.todo-name{
	font-family: 'Lato', sans-serif;
}

@media(min-width:768px) {
    header .container {
        /*padding-top: 200px;*/
        padding-bottom: 100px;
    }

    header .intro-text .name {
        font-size: 4.75em;
    }

    header .intro-text .skills {
        font-size: 1.75em;
    }
}

section {
    padding: 50px 0;
}

section h2 {
    margin: 0;
    font-size: 3em;
}

section.success {
    color: #fff;
    background: #18bc9c;
}

@media(max-width:767px) {
    section {
        padding: 35px 0;
    }

    section.first {
        padding-top: 75px;
    }
}

.tile{
	padding:50px;
}

h3.tile-title{
	color:#888;
}

footer {
    color: #fff;
}

footer .footer-col {
    margin-bottom: 50px;
}

footer .footer-below {
    padding: 25px 0;
    background-color: #18bc9c;
}
